/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*=============== VARIABLES CSS ===============*/
:root{
    /*========== Colors ==========*/
    --first-color:     #CBBE4A;
    --title-color:        #eee;
    --text-color:         #eee;
    --body-color:      #49405B;
    --container-color: #49405B;
    --clr-dark: rgb(13, 17, 19);
    --clr-light: #fff;
    --clr-accent: rgb(222, 52, 0);
    --clr-accenr-dark: rgb(163, 38, 0);
    --clr-secondary: rgb(0, 62, 163);




    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: .938rem;

    // Responsive typography
    @media screen and (min-width: 968px){
        --normal-font-size: 1rem;
    }
}